/* here you can put your own css to customize and override the theme */

i.facebook-icon{background-image: url('../img/icons/icon-facebook.png'); width: 16px; height: 16px;}
i.instagram-icon{background-image: url('../img/icons/icon-instagram.gif'); width: 16px; height: 16px;}
i.twitter-icon{background-image: url('../img/icons/icon-twitter.png'); width: 16px; height: 16px;}
i.gallery-icon{background-image: url('../img/icons/icon-gallery-view.png'); width: 16px; height: 16px;}
i.youtube-embed{background-image: url('../img/icons/icon-youtube.jpg'); width: 16px; height: 16px;}
i.feed{background-image: url('../img/icons/feed.png'); width: 16px; height: 16px;}
i.quote{background-image: url('../img/icons/quote.png'); width: 16px; height: 16px;}
i.file-icon{background-image: url('../img/icons/file-icon.png'); width: 16px; height: 16px;}
i.video-icon{background-image: url('../img/icons/movie-icon.png'); width: 16px; height: 16px;}
i.qoder-video-icon{background-image: url('../img/icons/video_upload.png'); width: 16px; height: 16px;}
i.qoder-audio-icon{background-image: url('../img/icons/audio-md.png'); width: 16px; height: 16px;}