
a.draft.btn {
    color: #FFFFFF;
    background-color: #666666;
}
a.approved.btn {
    color: #FFFFFF;
    background-color: #ff5e3f;
}
a.published.btn {
    color: #FFFFFF;
    background-color: #6aa84f;
}
a.delete.btn {
    color: #FFFFFF;
    background-color: #c23f44;
}

a.hasmedia.btn, a.hasvideo.btn, a.hascomment.btn{
    color: #FFFFFF;
    background-color: #cccccc;
}

a.listall.btn, a.action.btn{
    color: #ffffff;
    background-color: #666666;
}
a.search.btn, button.search.btn{
    color: #ffffff;
    background-color: #434343;
}
a.add.btn{
    color: #ffffff;
    background-color: #ff5e3f;
}

button.darkgrey{
    color: #ffffff;
    background-color: #666666;
}

div.portlet.orange{
    background-color: #ff5e3f;
}